/*

Estilos para la Biblioteca

Autor: David Carpintero Diaz
Versión: 
Fecha: 17/02/2024

*/
/* Estilos para el encabezado */

/* Estilos para la sección de la biblioteca */
/* Estilos para el encabezado */
@import '../style.css';

main{
    background-color: var(--color-cream);
    position: relative;
    padding: 30px;
}


.intro{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.intro p{
    line-height: 35px;
}

.gif-biblioteca{
    display: inline-block;
    margin-left: 20px;
}

/* Estilos para la sección de libros */

.libros{
    margin-top:5px;
    padding: 10px 10px 10px 10px;
}

.libros h2{
    margin-bottom: 20px;
}
.libros ul{
    list-style: none;
}

.libros a{
    display: inline-block;
    color:black;
    text-decoration: none;
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    cursor:pointer;   
}

.libros a:hover{
    box-shadow: 5px 5px 5px black;
    background-color: var(--color-smoke);
}