@import '../style.css';

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.estanteria-grid {
    margin:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(350px, 1fr));
    gap: 12px;
}

.libro {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 75px 300px 50px;
    grid-gap: 10px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Transici칩n suave para la animaci칩n */
}

.libro:hover {
    transform: scale(1.05); /* Aumentar el tama침o al pasar el mouse */
}

.img_libro {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2 / 4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    grid-column: 1/4;
    grid-row: 1;

    text-align: center;
    margin-top:10px;
    margin-left: 5px;
    font-size: 20px;
    color: #333;
}

.descripcion {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 16px;
    color: #666;
}

.boton_compra {
    grid-column: 2 / 4;
    grid-row: 3;

    padding: 2px 2px;
    background-color:var(--color-sienna);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    
    /* Centrar el bot칩n */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_compra:hover {
    background-color:var(--color-hazelnut);
}

