@import '../style.css';


.estanteria-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 16px;
}

main a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition:0.3s;
}

main a:hover {
    background-color: #333;
    color: var(--color-smoke);
    font-weight: bold;
}

section{
    position: relative;
    overflow: auto;

}

/*section p{
    position: absolute;
    left:350px;
    top:100px;
    width: 500px;
    text-align: right;

}*/

h1{
    margin: 10px 0px 20px 5px;
}

.libro{
    column-gap: 10px;
    row-gap: 5px;
    padding: 10px;
    transition:0.5s;
}

.img_container{
    display: inline-block;
    width: 45%;
}
.img_libro{
    width: 100%;
    padding: 3px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}



.libro p {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    height: 45%;
    line-height: 25px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

section a {
    width: 25%;
    padding: 10px 20px;
    background-color:brown;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

section a:hover {
    background-color: #45a049;
    transform: translateY(-2px); /* Añadir un efecto de levantamiento al pasar el ratón por encima */
}

.libro:hover{
    background-color: #D9C8B4;
}