@import 'style.css';

html {
    height: 100%; /* Establece la altura del cuerpo en 100% */
}

body {
    display: flex; /* Cambia el diseño del cuerpo a flex */
    flex-direction: column; /* Establece el diseño de la página en columna */
    min-height: 100vh; /* Establece la altura mínima del cuerpo a la altura completa de la ventana de visualización */
    margin: 0; /* Restablece cualquier margen predeterminado */
}

main {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible, empujando el footer hacia abajo */
}

.footer { /* Estilo del pie de página */
    width: 100%; /* Asegura que el pie de página ocupe todo el ancho de la ventana de visualización */
    background-color: var(--color-caramel); /* Establece el color de fondo del pie de página */
    color: var(--color-smoke); /* Establece el color del texto del pie de página */
    text-align: center; /* Centra el texto del pie de página */
    padding: 20px 0; /* Añade un relleno de 20px arriba y abajo y 0 a los lados */
}

.footer-menu { /* Estilo de la lista */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Restablece cualquier relleno predeterminado */
    margin: 0 auto; /* Centra la lista */
    display: flex; /* Cambia el diseño de la lista a flex */
    justify-content: center; /* Centra los elementos de la lista */
}

.footer-list-item { /* Estilo de los elementos de la lista */
    margin: 0 15px; /* Añade un margen de 0 a los lados y 15px arriba y abajo */
}

.footer-list-item a { /* Estilo de los enlaces */
    color: #fff; /* Establece el color del texto del enlace */
    text-decoration: none; /* Elimina la subrayado predeterminado */
    font-weight: bold; /* Establece el peso de la fuente en negrita */
}
