/*

Estilos para el header

Autor: Pablo Seijo
Versión: V.2.0.0
Fecha: 15/02/2024

*/

@import 'style.css';

/* Estilos para el encabezado */

.header {
    background-color: var(--color-chocolate); /* color marrón para el fondo */
    color: var(--color-smoke); /* color blanco para el texto */
    display: flex; /* flexbox para alinear los elementos */
    justify-content: space-between; /* alinear los elementos a los extremos */
    align-items: center; /* centrar verticalmente los elementos */
    padding: 10px 20px; /* añadir espacio alrededor del contenido */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas líneas */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho de la pantalla */
}

/* Espacio para el logo */

.headerImg { 
    margin-right: 20px; /* añadir espacio */
    flex: 0 0 auto; /* asegura que el logo no se estire */
}

/* Espacio para el título y el menu*/

.header-group {
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
    flex: 1; /* Asegura que el grupo ocupe todo el espacio disponible */
}

.header-title {
    color: var(--color-smoke); /* Establece el color del texto en blanco */
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold; /* Opcional: si deseas que el texto sea en negrita */
    padding: 10px 0; /* Ajusta el espaciado alrededor del texto */
}

/* Espacio para el menú */

.header-menu {
    display: flex; /* Asegura que el contenedor nav se muestre en línea */
    align-items: center; /* Centra los elementos del menú verticalmente */
}

.header-menu ul {
    display: flex; /* Asegura que la lista se muestre en línea */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    list-style-type: none; /* Elimina los marcadores de lista */
}

.header-menu .header-menu-item {
    margin-right: 20px; /* Espacio a la derecha de cada elemento de la lista */
    background-color: var(--color-smoke); /* Fondo para cada elemento de la lista */
    padding: 10px; /* Espacio alrededor del contenido dentro de las cajas */
    border-radius: 5px; /* Bordes redondeados para las cajas */
}

.header-menu .header-menu-item:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.header-menu .header-menu-item a {
    color: var(--color-chocolate); /* Color del texto para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold; /* Texto en negrita */
    display: block; /* Hace que el enlace llene toda la caja, mejorando la área clickeable */
}

.header-menu .header-menu-item a:hover { /* Efecto hover para los enlaces */
    color: var(--color-caramel); /* Cambiamos el color del texto */
  }

