* {
    box-sizing: border-box;
    margin: 10px;
}

body{
    display: flex;
}

aside {
    width: 20%;
}

main {
    max-width: 60%;
    display: inline-block;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.post {
    width: 95%;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid black;
    background-color: antiquewhite;
    overflow: hidden;
}

.img_post {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 2px 3px 3px black;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img_post:hover{
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.5); 
    opacity: 0.9;
}


.info {
    display: flex;
    vertical-align: text-top;
    width: 100%;
}

.pfp {
    cursor: pointer;
    border-radius: 35px;
}

.pfp:hover{
    border: 2px solid #333;
    transition: border 0.4s ease;
}
.autor {
    
}

input[type=text] {
    min-height: 50px;
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: azure;
}

input[type=submit] {
    width: 20%;
    float: right;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: burlywood;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

input[type=submit]:hover{
    background-color: aliceblue;
}

.oculto {
    display: none;
}

.mostrar-descripcion {
    background: none;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.mostrar-descripcion:hover {
    color: #666;
}


@media screen and (max-width: 600px){
    aside{
        display: none;
    }

    main{
        width: 100%; 
        max-width: 100%; 
        border-left: none;
        border-right: none; 
    }
}


/* CSS para la imagen ampliada */
#imagenAmpliada {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    z-index: 9999; /* Asegura que la imagen ampliada esté por encima de todo */
}

#imagenAmpliada img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 90%;
}


.boton-eliminar {
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    position: relative;
    right: 10px;
}

.boton-eliminar:hover {
    background-color: #cc0000;
}

